body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    min-height: 100vh;
    display: flex; /* Для корректного размещения App-layout */
}

h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 25px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Общий макет приложения */
.app-layout {
    width: 60%;
    margin: 0 auto;
}

.app-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Отступы от краев */
    max-width: calc(100% - 280px); /* Учитываем ширину сайдбара и отступы */
}

#root {
    width: 100%;
}